USE [DB_DONALABWEB]
GO
/****** Object:  Schema [con]    Script Date: 05/11/2024 12:07:14 ******/
CREATE SCHEMA [con]
GO
/****** Object:  Schema [don]    Script Date: 05/11/2024 12:07:14 ******/
CREATE SCHEMA [don]
GO
/****** Object:  Schema [MAESTRO]    Script Date: 05/11/2024 12:07:14 ******/
CREATE SCHEMA [MAESTRO]
GO
/****** Object:  Schema [seg]    Script Date: 05/11/2024 12:07:14 ******/
CREATE SCHEMA [seg]
GO
/****** Object:  Schema [SEGURIDAD]    Script Date: 05/11/2024 12:07:14 ******/
CREATE SCHEMA [SEGURIDAD]
GO
/****** Object:  Table [con].[Departamento]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [con].[Departamento](
	[id] [varchar](6) NOT NULL,
	[descripcion] [varchar](100) NULL,
 CONSTRAINT [Departamento_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [con].[Distrito]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [con].[Distrito](
	[id] [char](6) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[idProvincia] [varchar](6) NULL,
 CONSTRAINT [Distrito_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [con].[MaestroDetalle]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [con].[MaestroDetalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codMaestro] [varchar](30) NOT NULL,
	[maestro] [varchar](30) NULL,
	[codDetalle] [varchar](30) NULL,
	[detalle] [varchar](100) NULL,
	[idEstado] [bit] NOT NULL CONSTRAINT [DF__MaestroDe__idEst__2F10007B]  DEFAULT ((1)),
	[estado] [varchar](30) NULL CONSTRAINT [DF__MaestroDe__estad__300424B4]  DEFAULT ('Activo'),
	[accion] [varchar](50) NULL CONSTRAINT [DF__MaestroDe__accio__30F848ED]  DEFAULT ('Creado'),
	[idUsuReg] [varchar](100) NULL,
	[createdAt] [datetime] NULL CONSTRAINT [DF__MaestroDe__creat__31EC6D26]  DEFAULT (getdate()),
	[idUsuMod] [varchar](100) NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK__MaestroD__3213E83FDF41A2B9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [con].[Persona]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [con].[Persona](
	[id] [varchar](250) NOT NULL,
	[idTipoDocumento] [varchar](5) NULL,
	[ndocumento] [varchar](250) NULL,
	[apePat] [varchar](250) NULL,
	[apeMat] [varchar](250) NULL,
	[priNombre] [varchar](250) NULL,
	[secNombre] [varchar](250) NULL,
	[idGenero] [varchar](5) NULL,
	[idEstadoCivil] [varchar](5) NULL,
	[celular] [varchar](250) NULL,
	[telefono] [varchar](250) NULL,
	[correo] [varchar](250) NULL,
	[fechaNacimiento] [datetime] NULL,
	[edad] [varchar](250) NULL,
	[idPais] [varchar](5) NULL,
	[lugarNacimiento] [varchar](250) NULL,
	[procedencia] [varchar](250) NULL,
	[idOcupacion] [varchar](5) NULL,
	[direccion] [varchar](250) NULL,
	[idDistrito] [char](6) NULL,
	[idEstado] [bit] NULL,
	[estado] [varchar](50) NULL,
	[accion] [varchar](50) NULL,
	[idUsuReg] [varchar](250) NULL,
	[createdAt] [datetime] NULL,
	[idUsuMod] [varchar](250) NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [Persona_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [con].[Provincia]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [con].[Provincia](
	[id] [varchar](6) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[idDepartamento] [varchar](6) NULL,
 CONSTRAINT [Provincia_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL DEFAULT (getdate()),
	[applied_steps_count] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [don].[Postulante]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [don].[Postulante](
	[id] [varchar](250) NOT NULL,
	[codigoPostulante] [varchar](50) NULL,
	[idBancoOrigen] [char](5) NULL,
	[idCampania] [char](5) NULL,
	[idProcDonante] [char](5) NULL,
	[idPersona] [varchar](250) NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[idTipoProcedimiento] [char](5) NULL,
	[idTipoDonacion] [char](5) NULL,
	[idTipoExtracion] [char](5) NULL,
	[lugarTrabajo] [varchar](250) NULL,
	[idConvenio] [char](5) NULL,
	[viaje] [char](2) NULL,
	[lugarViaje] [varchar](250) NULL,
	[permanencia] [varchar](250) NULL,
	[fechaViaje] [datetime] NULL,
	[respSolicitud] [varchar](250) NULL,
	[docRef] [varchar](250) NULL,
	[idLugarDonacion] [char](5) NULL,
	[otros] [varchar](250) NULL,
	[idEstPostulacion] [char](5) NULL,
	[idEstado] [bit] NULL,
	[estado] [varchar](50) NULL,
	[accion] [varchar](50) NULL,
	[idUsuReg] [varchar](250) NULL,
	[createdAt] [datetime] NULL,
	[idUsuMod] [varchar](250) NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [Postulante_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [seg].[Usuario]    Script Date: 05/11/2024 12:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [seg].[Usuario](
	[id] [nvarchar](1000) NOT NULL,
	[usuario] [nvarchar](1000) NULL,
	[password] [nvarchar](1000) NULL,
	[codExterno] [nvarchar](1000) NULL,
	[primerAcceso] [nvarchar](1000) NULL,
	[idEstado] [bit] NULL CONSTRAINT [Usuario_idEstado_df]  DEFAULT ((1)),
	[estado] [nvarchar](1000) NULL CONSTRAINT [Usuario_estado_df]  DEFAULT ('Activo'),
	[accion] [nvarchar](1000) NULL CONSTRAINT [Usuario_accion_df]  DEFAULT ('Creado'),
	[idUsuReg] [int] NULL,
	[createdAt] [datetime2](7) NULL CONSTRAINT [Usuario_createdAt_df]  DEFAULT (getdate()),
	[idUsuMod] [int] NULL,
	[updatedAt] [datetime2](7) NULL,
	[idPersona] [varchar](250) NOT NULL,
 CONSTRAINT [Usuario_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [con].[Departamento] ([id], [descripcion]) VALUES (N'01', N'Amazonas')
INSERT [con].[Departamento] ([id], [descripcion]) VALUES (N'02', N'Áncash')
INSERT [con].[Departamento] ([id], [descripcion]) VALUES (N'03', N'Apurímac')
INSERT [con].[Distrito] ([id], [descripcion], [idProvincia]) VALUES (N'010101', N'Chachapoyas', N'0101')
INSERT [con].[Distrito] ([id], [descripcion], [idProvincia]) VALUES (N'010102', N'Asunción', N'0101')
INSERT [con].[Distrito] ([id], [descripcion], [idProvincia]) VALUES (N'010103', N'Balsas', N'0101')
GO
SET IDENTITY_INSERT [con].[MaestroDetalle] ON 

INSERT [con].[MaestroDetalle] ([id], [codMaestro], [maestro], [codDetalle], [detalle], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt]) VALUES (1, N'EstPD', N'Estado Pre-Donante', N'001', N'PENDIENTE', 1, N'Activo', N'Creado', N'1', CAST(N'2024-09-30 17:01:02.520' AS DateTime), NULL, NULL)
INSERT [con].[MaestroDetalle] ([id], [codMaestro], [maestro], [codDetalle], [detalle], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt]) VALUES (2, N'EstPD', N'Estado Pre-Donante', N'002', N'APTO', 1, N'Activo', N'Creado', N'1', CAST(N'2024-09-30 17:01:02.520' AS DateTime), NULL, NULL)
INSERT [con].[MaestroDetalle] ([id], [codMaestro], [maestro], [codDetalle], [detalle], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt]) VALUES (3, N'EstPD', N'Estado Pre-Donante', N'003', N'NO APTO', 1, N'Activo', N'Creado', N'1', CAST(N'2024-09-30 17:01:02.520' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [con].[MaestroDetalle] OFF
INSERT [con].[Provincia] ([id], [descripcion], [idDepartamento]) VALUES (N'0101', N'Chachapoyas', N'01')
INSERT [con].[Provincia] ([id], [descripcion], [idDepartamento]) VALUES (N'0102', N'Bagua', N'01')
INSERT [con].[Provincia] ([id], [descripcion], [idDepartamento]) VALUES (N'0103', N'Bongará', N'01')
GO
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'5806455c-bb3e-4cfa-8faa-20a1f37bada4', N'bac1d950e1c8d453e1942429d0d4310b4a1166b55cb1ce8c1ed910f3aa754706', CAST(N'2024-09-30T21:46:47.5487603+00:00' AS DateTimeOffset), N'20240930214647_migrate', NULL, NULL, CAST(N'2024-09-30T21:46:47.4365694+00:00' AS DateTimeOffset), 1)
INSERT [seg].[Usuario] ([id], [usuario], [password], [codExterno], [primerAcceso], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt], [idPersona]) VALUES (N'cm1qzqixg000111v0ue52o386', N'NINI', N'$2b$10$hT6NVwKpChYyHR83BLdFeeQYXBHfRQOz9QdXQS/Yml.nfhyXx7RLG', NULL, NULL, 1, N'Activo', N'Creado', NULL, CAST(N'2024-10-01 22:08:57.1720000' AS DateTime2), NULL, NULL, N'cm1qy')
INSERT [seg].[Usuario] ([id], [usuario], [password], [codExterno], [primerAcceso], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt], [idPersona]) VALUES (N'cm2ez6jvz0001o3jg35rlidis', N'76098364', N'$2b$10$C5rnYQsdfDUOf7TdQVCgBOUO6t7ugNHKQEt1Ej7vlua2sAkhxHl1O', NULL, NULL, 1, N'Activo', N'Creado', NULL, CAST(N'2024-10-18 16:59:53.5150000' AS DateTime2), NULL, NULL, N'cm23tkf5100006wmfb437cgvw')
INSERT [seg].[Usuario] ([id], [usuario], [password], [codExterno], [primerAcceso], [idEstado], [estado], [accion], [idUsuReg], [createdAt], [idUsuMod], [updatedAt], [idPersona]) VALUES (N'cm2ez6xs90003o3jg7qe2f6ed', N'76281119', N'$2b$10$DPeI68yKtzM4RjzSFHfZdO/ojjMfI2S0/mF.QJsRYrwv/lOoBiZxC', NULL, NULL, 1, N'Activo', N'Creado', NULL, CAST(N'2024-10-18 17:00:11.5300000' AS DateTime2), NULL, NULL, N'cm1sa')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_usuario]    Script Date: 05/11/2024 12:07:15 ******/
ALTER TABLE [seg].[Usuario] ADD  CONSTRAINT [UQ_usuario] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Usuario_idPersona_key]    Script Date: 05/11/2024 12:07:15 ******/
ALTER TABLE [seg].[Usuario] ADD  CONSTRAINT [Usuario_idPersona_key] UNIQUE NONCLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [con].[Distrito]  WITH CHECK ADD  CONSTRAINT [Distrito_idProvincia_fkey] FOREIGN KEY([idProvincia])
REFERENCES [con].[Provincia] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [con].[Distrito] CHECK CONSTRAINT [Distrito_idProvincia_fkey]
GO
ALTER TABLE [con].[Persona]  WITH CHECK ADD  CONSTRAINT [Persona_idDistrito_fkey] FOREIGN KEY([idDistrito])
REFERENCES [con].[Distrito] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [con].[Persona] CHECK CONSTRAINT [Persona_idDistrito_fkey]
GO
ALTER TABLE [con].[Provincia]  WITH CHECK ADD  CONSTRAINT [Provincia_idDepartamento_fkey] FOREIGN KEY([idDepartamento])
REFERENCES [con].[Departamento] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [con].[Provincia] CHECK CONSTRAINT [Provincia_idDepartamento_fkey]
GO
ALTER TABLE [don].[Postulante]  WITH CHECK ADD  CONSTRAINT [Postulante_idPersona_fkey] FOREIGN KEY([idPersona])
REFERENCES [con].[Persona] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [don].[Postulante] CHECK CONSTRAINT [Postulante_idPersona_fkey]
GO
ALTER TABLE [seg].[Usuario]  WITH CHECK ADD  CONSTRAINT [Usuario_idPersona_fkey] FOREIGN KEY([idPersona])
REFERENCES [con].[Persona] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [seg].[Usuario] CHECK CONSTRAINT [Usuario_idPersona_fkey]
GO
